@use 'sass:map';
@use 'sass:meta';
@use 'sass:list';

////
/// @group type-presets
/// @author Tim Shelburne
////

/// Default font family property value to use in presets
/// @access public
/// @type CSS font-family
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $default-family: 'Arial, sans-serif'
///   );
$default-family: unset !default;

/// Default font weight property value to use in presets
/// @access public
/// @type CSS font-weight
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $default-weight: 500
///   );
$default-weight: normal !default;

/// Default text transform property value to use in presets
/// @access public
/// @type CSS text-transform
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $default-transform: uppercase
///   );
$default-transform: none !default;

/// Default letter spacing property value to use in presets
/// @access public
/// @type CSS letter-spacing
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $default-spacing: .5
///   );
$default-spacing: normal !default;

/// Value to add to font size when line height is not specified in typescale definition
/// @access public
/// @type number
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $line-height-scale: 10
///   );
$line-height-scale: 8 !default;

/// Default breakpoints to be used for responsive typescales - note that the values should be increasing
/// @access public
/// @type Map
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $breakpoints: (
///       small: 400px
///       med: 1000px
///       largo: 2000px
///     ),
///     $typescales: (
///       1: 12px (med: 14px, largo: 16px),
///       2: 14px (small: 20px),
///     )
///   );
$breakpoints: (
	sm: 600px,
	md: 900px,
	lg: 1200px,
	xl: 1800px,
) !default;

$__breakpoints-with-min: map.merge((__min: 0), $breakpoints);

/// A map of basic typescale definitions
/// @access public
/// @type Map
/// @prop {CSS font-size|(CSS font-size, CSS line-height)} typescale.[ref].[1] - the base size value at the smallest screen size
/// @prop {Map} typescale.[ref].[2] [()] - a map of breakpoint sizes
/// @prop {CSS font-size|(CSS font-size, CSS line-height)} typescale.[ref].[2].[bp_ref] - the size value that takes precedence at the referenced breakpoint
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $typescales: (
///       1: 12px (md: 14px, xl: 16px),
///       2: 14px (lg: 20px),
///     )
///   );
$typescales: () !default;

/// A map of basic preset definitions
/// @access public
/// @type Map
/// @prop {number} preset.[ref].scale - the key of the typescale to use for the preset
/// @prop {CSS font-family} preset.[ref].family [$default-family] - the preset's font family
/// @prop {CSS font-weight} preset.[ref].weight [$default-weight] - the preset's font weight
/// @prop {CSS text-transform} preset.[ref].transform [$default-transform] - the preset's text transform
/// @prop {CSS letter-spacing} preset.[ref].spacing [$default-spacing] - the preset's letter spacing
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $presets: (
///       1: (scale: 1, spacing: .5),
///       2: (scale: 1, family: 'Comic Sans', transform: uppercase),
///       3: (scale: 2, family: 'Comic Sans', weight: 800),
///     )
///   );
$presets: () !default;

// ================================= HELPERS ==================================

@function __map-get-default($map, $k, $def) {
	@return if(map.has-key($map, $k), map.get($map, $k), $def);
}

@function __list-last($list) {
	@return list.nth($list, list.length($list));
}

// =============================== DEFINITIONS ================================

@function __size($v) {
	@return if(meta.type-of($v) == 'list', $v, ($v, $v + $line-height-scale));
}

@function __define-typescale($base, $scaled: ()) {
	// build the list of sizes with each size falling back to the previous if it isn't defined
	$sizes: __size($base),; // the comma is necessary to initialize a list of lists
	@each $ref in map.keys($breakpoints) {
		$size: __map-get-default($scaled, $ref, __list-last($sizes));
		$sizes: list.append($sizes, __size($size));
	}

	// convert the sizes to scales with a simple map
	// we have to use @for b/c duplicated size values yield incorrect indexes
	$scales: ();
	@for $i from 1 through list.length($sizes) {
		$size: list.nth($sizes, $i);
		$media: list.nth(map.keys($__breakpoints-with-min), $i);
		$scales: map.merge(
			$scales,
			(
				$media: (
					font-size: list.nth($size, 1),
					line-height: list.nth($size, 2),
				),
			)
		);
	}
	@return $scales;
}

@function __define-type-preset($def) {
	@return (
		scale: map.get($def, scale),
		font-family: __map-get-default($def, family, $default-family),
		font-weight: __map-get-default($def, weight, $default-weight),
		text-transform: __map-get-default($def, transform, $default-transform),
		letter-spacing: __map-get-default($def, spacing, $default-spacing)
	);
}

// ================================== MIXINS ==================================

$__typescales: ();
@each $ref, $def in $typescales {
	$has-scaled: list.length($def) > 1 and meta.type-of(list.nth($def, 2)) == 'map';

	$xs: if($has-scaled, list.nth($def, 1), $def);
	$scaled: if($has-scaled, list.nth($def, 2), ());

	$new-scale: __define-typescale($xs, $scaled);
	$__typescales: map.merge($__typescales, ($ref: $new-scale));
}

$__presets: ();
@each $ref, $def in $presets {
	$new-preset: __define-type-preset($def);
	$__presets: map.merge($__presets, ($ref: $new-preset));
}

/// Use typescale in typographic element
/// @access public
/// @see $typescales
/// @param {string} $ref - name of pre-defined typescale from map
/// @param {bool} $important [false] - mark properties as !important in CSS
/// @example scss - Usage
///   @use 'type-presets' as t;
///
///   p {
///     @include t.typescale(1);
///   }
/// @example css - Result
///   p {
///     font-size: var(--typescale-1-font-size);
///     line-height: var(--typescale-1-line-height);
///   }
@mixin typescale($ref, $important: false) {
	$postfix: if($important, '!important', '');

	font-size: var(--typescale-#{$ref}-font-size)#{$postfix};
	line-height: var(--typescale-#{$ref}-line-height)#{$postfix};
}

/// Use type-preset in typographic element
/// @access public
/// @see $presets
/// @param {string} $ref - name of pre-defined type preset from map
/// @param {bool} $important [false] - mark properties as !important in CSS
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $presets: (
///       1: (scale: 1, spacing: .5),
///     )
///   );
///
///   p {
///     @include t.type-preset(1);
///   }
/// @example css - Result
///   p {
///     font-size: var(--typescale-1-font-size);
///     line-height: var(--typescale-1-line-height);
///     font-family: unset;
///     font-weight: normal;
///     text-transform: none;
///     letter-spacing: 0.5;
///   }
@mixin type-preset($ref, $important: false) {
	$preset: map.get($__presets, $ref);
	$postfix: if($important, '!important', '');

	@include typescale(map.get($preset, 'scale'), $important);
	font-family: "#{map.get($preset, 'font-family')}"#{$postfix};
	font-weight: #{map.get($preset, 'font-weight')} #{$postfix};
	text-transform: #{map.get($preset, 'text-transform')} #{$postfix};
	letter-spacing: #{map.get($preset, 'letter-spacing')} #{$postfix};
}

/// Generate utility classes
/// @access public
/// @param {string} $namespace [''] - namespace to put utility under
/// @example scss - Usage
///   @use 'type-presets' as t with (
///     $typescales: (
///       1: 12px (md: 14px, xl: 16px),
///     ),
///     $presets: (
///       1: (scale: 1, spacing: .5),
///     )
///   );
///
///   @include t.utility-classes($namespace: );
/// @example css - Result
///   .test-u-typescale-1 {
///     font-size: var(--typescale-1-font-size) !important;
///     line-height: var(--typescale-1-line-height) !important;
///   }
///
///   .test-u-type-preset-1 {
///     font-size: var(--typescale-1-font-size) !important;
///     line-height: var(--typescale-1-line-height) !important;
///     font-family: unset !important;
///     font-weight: normal !important;
///     text-transform: none !important;
///     letter-spacing: 0.5 !important;
///   }
@mixin utility-classes($namespace: '') {
	$prefix: if($namespace == '', '', '#{$namespace}-');

	@each $ref in map.keys($__typescales) {
		.#{$prefix}u-typescale-#{$ref} {
			@include typescale($ref, $important: true);
		}
	}

	@each $ref in map.keys($__presets) {
		.#{$prefix}u-type-preset-#{$ref} {
			@include type-preset($ref, $important: true);
		}
	}
}

// =================================== INIT ===================================

:root {
	@each $bp, $size in $__breakpoints-with-min {
		@media screen and (min-width: $size) {
			@each $ref in map.keys($__typescales) {
				$scale: map.get(map.get($__typescales, $ref), $bp);

				--typescale-#{$ref}-font-size: #{map.get($scale, font-size)};
				--typescale-#{$ref}-line-height: #{map.get($scale, line-height)};
			}
		}
	}
}
